{% extends 'layout.html' %}

{% block title %}
    Delete Album 
{% endblock %}

{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        margin: 0;
        padding: 0; 
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .delete-container {
        background-color: #ffcece8c;
        border-radius: 8px;
        padding: 20px;
        width: 500px;
        text-align: center;
        margin-top: 160px;
        margin-left: 300px;
        box-shadow: 4px 6px;
    }

    

    .form {
        text-align: center;
        margin-top: 20px;
    }

    .delete-button {
        background-color: #d9534f;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        box-shadow: 4px 6px;
    }

    .delete-button:hover {
        background-color: #c9302c;
    }

    .bin-icon {
        font-size: 20px;
        margin-right: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="delete-container">
    <h1>Delete Album</h1>
    <hr>
    <h5 class="text-center text-danger">Are you sure you want to delete this
        <strong>Album</strong>?
    </h5>
    <form method="post" class="form">
        <button type="submit" class="delete-button">
            <i class="fas fa-trash bin-icon"></i>
            Delete
        </button>
    </form>
</div>
{% endblock %}
